ol {
    font-size: 30px;
}

body {
    font-family: sans-serif, arial, verdana;
    background-image: url("background.PNG");
}

h1 {
    font-family: Courier;
}

mark1 {
    background-color: cyan;
    color: black;
}

templateaaa {
    font-style: italic;
    font-variant:normal ;
}
